<!DOCTYPE HTML>
<html lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>BUI</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="../../public/css/bui.css" />
	<link rel="stylesheet" href="css/style.css" />

	<!-- 依赖库 手机调试的js引用顺序如下 -->
	<script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
	<script src="../../public/js/zepto.js"></script>
	<script src="../../public/js/cordova.js"></script>
	<script src="../../public/js/bingotouch.js"></script>
	<script src="../../public/js/plugins/fastclick.js"></script>
	<!-- BUI库 -->
	<script src="../../public/js/bui.js"></script>
	<script src="../../public/js/app/_config.js"></script>

</head>

<body>
<div ng-app="myApp" ng-controller="httCtrl">
	<div class="bui-page" ng-hide="myVar">
		<header class="bui-bar">
			<div class="bui-bar-left">
				<!-- 左边按钮 -->
				<a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
			</div>
			<div class="bui-bar-main">添加课程</div>
			<div class="bui-bar-right">
				<!-- 右边按钮 -->
			</div>
		</header>
		<main>
			<!-- 正文内容 -->
			<img src="../../public/images/logo.png" alt="图片区域" class="bui-box-center" />
			<h3 class="section-title">课程基本填写</h3>
			<div class="bui-list">
				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>课程名称</label>
					</div>
					<div class="span1">
						<input id="courseName" type="text" ng-model="courseName" class="bui-input" placeholder="请输入课程名称">
					</div>
				</div>
				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>讲师名称</label>
					</div>
					<div class="span10">
						<input id="teacherName" type="text" class="bui-input" ng-model="teacherName" placeholder="请输入讲师名称">
					</div>
					<div class="bui-bar-right bui-bar-text" ng-click="checkName()">
						<a class="bui-btn-inline"><i class="icon-infofill"></i></a>
					</div>
				</div>

				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>讲师电话</label>
					</div>
					<div class="span1">
						<input id="phone" type="text" class="bui-input" ng-model="phone" placeholder="请输入讲师电话" >
					</div>
				</div>

				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>讲师邮件</label>
					</div>
					<div class="span1">
						<input type="mail" class="bui-input" ng-model="mail" placeholder="xxxx@bingosoft.net">
					</div>
				</div>

				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>培训时间</label>
					</div>
					<div class="span1">
						<input id="trainingTime" ng-model="trainingTime" type="date" class="bui-date">
					</div>
				</div>

				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>培训时长</label>
					</div>
					<div class="span1">
						<input id="trainLast" type="number" ng-model="trainLast" class="bui-input" placeholder="培训时长 单位：h">
					</div>
				</div>

				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>培训地点</label>
					</div>
					<div class="span1">
						<input id="trainingPlace" type="text" ng-model="trainingPlace" class="bui-input" >
					</div>
				</div>
				<div class="bui-btn bui-box clearactive">
					<div class="bui-label">
						<label>课程简介</label>
					</div>
					<div class="bui-btn">
						<textarea name="courseIntroduce" class="bui-input" id="" cols="25" rows="3" ng-model="courseIntroduction" placeholder="请填写课程简介"></textarea>
					</div>
				</div>


			</div>

		</main>
		<footer>
			<!-- 底部内容 -->
			<div class="bui-btn primary bui-box-center" ng-click="onSubmit()">提交</div>
			<ul class="bui-nav bui-fluid">
				<li class="bui-btn bui-box-vertical span3"><i class="icon-home"></i>
					<div class="span1">首页</div>
				</li>
				<li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('course.html')"></i>
					<div class="span1">课程</div>
				</li>
				<li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('addCourse.html')"></i>
					<div class="span1">添加</div>
				</li>
				<li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('showSignCourse.html')"></i>
					<div class="span1">个人</div>
				</li>
			</ul>
		</footer>
	</div>
	<p ng-hide="myVar1">11111{{status}}</p>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('httCtrl', function($scope,$http,$filter) {
        $scope.myVar=false;
        $scope.myVar1=true;
        $scope.checkName=function(){
            $http.get("course/query_teacher",{
                params: {
                    "name":$scope.teacherName
                }})
                .then(function (response) {$scope.mail=response.data.mail;$scope.phone=response.data.tel;$scope.lecturerId=response.data.userId});
        };

        $scope.onSubmit=function () {
            $scope.trainingTime = $filter('date')($scope.trainingTime,'yyyy-MM-dd');
            $http.get("course/create_course",{
			    params:{
			        "courseJson":{
			            "courseName":$scope.courseName,
						"lecturerId":$scope.lecturerId,
						"trainingTime":$scope.trainingTime,
						"trainLast":$scope.trainLast,
						"trainingPlace":$scope.trainingPlace,
						"courseIntroduction":$scope.courseIntroduction
					}
				}
			}).then(function () {$scope.myVar=true;$scope.myVar1=false;$scope.status=respone.data;
                window.location='/courseDetail.html';
			})
        };

        $scope.jump = function(url) {
            window.location = url;
        }
    });
</script>
</body>

</html>