<!DOCTYPE HTML>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>BUI</title>
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="../../public/css/bui.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- 依赖库 手机调试的js引用顺序如下 -->
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="../../public/js/zepto.js"></script>
    <script src="../../public/js/cordova.js"></script>
    <script src="../../public/js/bingotouch.js"></script>
    <script src="../../public/js/plugins/fastclick.js"></script>
    <!-- BUI库 -->
    <script src="../../public/js/bui.js"></script>
    <script src="../../public/js/app/_config.js"></script>
</head>

<body>

<div ng-app="myApp" ng-controller="httCtrl">
    <div class="bui-page">
        <header class="bui-bar">
            <div class="bui-bar-left">
                <!-- 左边按钮 -->
                <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
            </div>
            <div class="bui-bar-main">课程详情</div>
            <div class="bui-bar-right">
                <!-- 右边按钮 -->
            </div>
        </header>
        <main>
            <!-- 正文内容 -->
            <img src="../../public/images/logo.png" alt="图片区域" class="bui-box-center" />

            <h3 class="section-title">课程简介</h3>
            <div class="bui-list">
                <div class="bui-btn bui-box">
                    <div class="bui-label">课程名称</div>
                    <div class="span1">
                        <input id="courseName" type="text" ng-model="courseName" class="bui-input" disabled="disabled">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师名称</div>
                    <div class="span1">
                        <input id="teacherName" type="text" ng-model="teacherName" class="bui-input" disabled="disabled">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">部门</div>
                    <div class="span1">
                        <input id="departmentName" type="text" ng-model="departmentName" class="bui-input" disabled="disabled">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师电话</div>
                    <div class="span1">
                        <input id="phone" type="text" ng-model="phone" class="bui-input" disabled="disabled">
                    </div>
                </div>
                <div class="bui-btn bui-box">
                    <div class="bui-label">讲师邮箱</div>
                    <div class="span1">
                        <input id="email" type="text" ng-model="email" class="bui-input" disabled="disabled">
                    </div>
                </div>

                <div class="bui-btn bui-box clearactive">
                    <div class="bui-label">
                        <label>课程简介</label>
                    </div>
                    <div class="span1">
                        <textarea name="courseIntroduce" class="bui-input" id="" cols="25" rows="3" ng-model="courseIntroduce"></textarea>
                    </div>
                </div>

                <div class="bui-btn bui-box">
                    <div class="bui-label">上课时间</div>
                    <div class="span1"><input id="trainingTime" type="text" ng-model="trainingTime" class="bui-input" disabled="disabled">
                    </div>
                </div>

                <div class="bui-btn bui-box">
                    <div class="bui-label">上课时长</div>
                    <div class="span1"><input id="trainingLast" type="text" ng-model="trainingLast" class="bui-input" disabled="disabled">
                    </div>
                </div>

            </div>
        </main>
        <footer>
            <!-- 底部内容 -->
            <div class="bui-btn primary bui-box-center" ng-click="onSign()">我要报名</div>
            <ul class="bui-nav bui-fluid">
                <li class="bui-btn bui-box-vertical span3"><i class="icon-home"></i>
                    <div class="span1">首页</div>
                </li>
                <li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('course.html')"></i>
                    <div class="span1">课程</div>
                </li>
                <li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('addCourse.html')"></i>
                    <div class="span1">添加</div>
                </li>
                <li class="bui-btn bui-box-vertical span3"><i class="icon-home" ng-click="jump('showSignCourse.html')"></i>
                    <div class="span1">个人</div>
                </li>
            </ul>
        </footer>
    </div>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('httCtrl', function($scope,$http) {
        $scope.courseName="课程设计";
        $http.get("/course/query_course",{
            params:{
                "courseName":$scope.courseName
            }
        }).then(function (response) {
            $scope.courseName = response.data.courseName;
            $scope.teacherName = response.data.teacherName;
            $scope.departmentName = response.data.departmentName;
            $scope.phone = response.data.phone;
            $scope.email = response.data.email;
            $scope.courseIntroduce = response.data.courseIntroduce;
            $scope.trainingTime = response.data.trainingTime;
            $scope.trainingLast = response.data.trainingLast;
        });
        $scope.onSign=function(){
            $http.get("/course/course_enroll", {
                params: {
                    "courseName": $scope.courseName
                }}).then(function (response){
                $scope.status=response.data.status
            });
            window.location='/baomingSuccess.html';
        }

        $scope.jump = function(url) {
            window.location = url;
        }

    });
</script>
</body>

</html>