.info{
	margin-top: 30px;
}

.span12 .dept{
	font-size: 13px;
}

.user{
	margin-top: 30px;
	font-size: 25px;
}


.bui-table{
	margin-top:10px;
}

.bui-table th{
	text-align: center;
	padding:10px 0 10px 0;
	font-size: 20px;
	
}

 .bui-table td{
	text-align: center;
	padding:6px 0 6px 0;
} 

.fa {
	color: #5CACEE;
}